In [1]:
import sys
sys.path.append('../')

import pandas as pd
import src.cleaning as cl

# General info

The CO₂ gives us the average CO₂ emissions (in metric tons) per person. The dataset is divided up by countries and other categories such as ‘World’ or ‘Upper middle income’, in this tutorial we are only interested in ‘World’ as we are looking at things on a global scale.

For more info [here](https://data.worldbank.org/indicator/EN.ATM.CO2E.PC)

https://towardsdatascience.com/time-series-analysis-and-climate-change-7bb4371021e

In [11]:
co2 = pd.read_csv("../Data/registro.csv", encoding = "ISO-8859-1",  engine='python') # tmbien acepta latin1
x = co2.columns[2]

In [8]:
df = cl.cleaning_co2_data(co2)

In [9]:
df.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
4,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,27.200708,26.948260,27.895574,26.230847,25.915833,24.670529,24.505835,13.155542,8.351294,8.408363
5,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.04606,0.053604,0.073765,0.074233,0.086292,0.101467,...,0.052948,0.063728,0.085418,0.154101,0.241723,0.293837,0.412017,0.350371,0.315602,0.299445